.text-primary {
  color: #428BCA; }

#buffer {
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0; }

@media (max-width: 979px) {
  #buffer {
    padding-top: 50px; } }
.navbar {
  background: white;
  color: #2a6496;
  font-size: 23px;
  font-weight: bold; }

.navbar-default .navbar-nav > .active > a {
  color: inherit;
  background: #edf4fa; }

.navbar-default .navbar-nav > .active > a:hover {
  background: #edf4fa; }

.navbar-default .navbar-nav > li > a {
  color: inherit; }

.navbar-default .navbar-nav > li > a:hover {
  color: #245682;
  background: #edf4fa; }

.navbar-default .navbar-brand {
  padding-left: 30px;
  padding-right: 40px;
  color: inherit;
  font-size: 28px;
  font-weight: bold; }

.navbar-default .navbar-brand:hover {
  color: #245682;
  background: #edf4fa; }

#sliders p {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
  color: #245682;
  font-size: 23px;
  font-weight: bold; }

p#bio {
  margin-top: 15px;
  color: #245682;
  font-size: 21px; }

#slide-1 {
  display: none; }

#slide-2 {
  display: none; }

#slide-3 {
  display: none; }

#slide-4 {
  display: none; }

.list-inline {
  margin-left: 0; }

li.skills {
  padding: 2px 6px;
  margin: 0px 0px 5px 0px;
  border-radius: 4px;
  color: white;
  background: #6aa3d5;
  font-size: 16px; }

div.caption h3 {
  color: #245682; }

div.caption p {
  color: #193c5a; }

.project .thumbnail {
  margin-bottom: 0;
  border: none; }

hr {
  display: block;
  height: 1px;
  width: 50%;
  border-top: 1px solid #d5e5f3;
  margin: 60px 0 60px 0; }

.divider-vertical {
  height: 12px;
  margin: 0 0;
  border-left: 1px solid #428bca;
  border-right: 1px solid #428bca; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.hero {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  background: #edf4fa; }

.center-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.fa {
  font-size: 30px; }

.fa-facebook-square {
  color: #3b5998; }

.fa-linkedin-square {
  color: #007bb6; }

.fa-twitter-square {
  color: #00aced; }

.google-plus-square {
  color: #dd4b39; }

.vertical-align {
  display: flex;
  align-items: center; }

.valign-text {
  display: table-cell;
  vertical-align: middle; }

#contact_map {
  margin: 50px 0px 20px 0px;
  height: 300px; }

#social {
  margin: 20px 0 0 0; }

img.avatar {
  height: 200px;
  width: auto;
  border-radius: 5px; }
